<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YELPCAMP</p>
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" href="/">Home</a>
                <a class="list-group-item list-group-item-action" href="/campgrounds">Campgrounds</a>
                <a class="list-group-item list-group-item-action" href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %> " alt="">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="h4">
                            <a href="#"><%= campground.name %> </a>
                        </div>
                        <div class="h4">
                            <span>$9.00/night</span>
                        </div>
                    </div>
                    <p>
                        <em>Submited By <%= campground.author.username.toUpperCase(); %> </em>
                    </p>
                    <p><%= campground.description %> </p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <div class="d-flex">
                        <form action="/campgrounds/<%= campground._id %>/delete?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger mr-1" >Delete</button>                        
                        </form>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    
                    <p>
                        <a class="btn btn-success  btn-sm" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment!</a>
                    </p>
                    
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex">
                                <div class="mr-auto">
                                   <strong><%= comment.author.username %></strong>
                                </div>
                                <div class="p">
                                    <span>10 days ago</span>      
                                </div>
                            </div>
                            <p class="text-left">
                                <%= comment.text %> 
                            </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>                          
                            <div class="d-flex">
                                <a class="btn btn-warning btn-sm mr-1" role = "button" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        <% } %> 
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>